.info-common
	&__list
	&__list-item
		clearfix()
		margin-bottom 17px //- !!! 17px for Chrome, 18px for PhantomJS
	&__label
		float left
		padding-top 20px
	&__wrapper
		display block
		overflow hidden
		padding-right 10px
		padding-left 15px
	&__input
		font-family "Courier New"
		font-size 30px
		width 100%
		background none
		padding-bottom 8px
		padding-left 16px
		border-style solid
		border-width 0 0 3px
		border-image url(../images/border.png) 0 0 4 0 stretch stretch

	
