.info-common
	&__list
	&__list-item
		clearfix()
		margin-bottom 18px //- !!! 17px for Chrome, 18px for PhantomJS
	&__label
		float left
		padding-top 20px
	&__wrapper
		display block
		overflow hidden
		padding-right 10px
		padding-left 15px
	&__input
		font-family "Courier New"
		font-size 30px
		width 100%
		background none
		padding-bottom 3px
		padding-left 14px
		border-style solid
		border-width 0 0 7px
		border-image-source url("../images/border.png");
		border-image-slice 7
		border-image-repeat  stretch

	
