import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

body
    font-family $regular-font
    color $font-color
    background-color $bg-color

.container
	margin 0 auto
	width 1000px
	background url(../images/bg.png) repeat 0 -10px

.container-inner
    margin 0 auto
    width 782px

.title
    &__img
        display block
        margin 28px auto
        margin-bottom 52px
        padding-right 42px

label
    font-family $regular-font
    font-size 22px
    font-weight 700
    letter-spacing 0.01em

/* Block space */
.info-common
    margin-bottom 31px
.info-graduate
    margin-bottom 49px
.info-skills
    margin-bottom 82px
.info-level
    margin-bottom 180px
.footer
    margin-bottom 150px