mixin page()
	+b('body').page&attributes(attributes)
		.container
			+header
			main
				.container-inner
					+b('header').title
						+e.H1.text
						+e.img(src="assets/images/folder.png" alt="ДЕЛО" title="ДЕЛО")
					+info-common(getData("info-common"))
					+info-graduate
					+info-skills(getData("info-skills"))
					+info-level(getData("info-level"))
					+footer
		block
