mixin info-level(data)
	+b.info-level&attributes(attributes)
		+e('label').title Уровень владения JavaScript
		+b.slider
			+e.knob
			+e.wrapper
				each item, index in data.sort((a,b)=>a.level-b.level)
					+e.label(style=index===data.length-1?'right: '+0:'left: '+item.level+'%' data-value=item.level)= item.label
		block
