.info-level
	&__title
		margin-left 10px
	.slider
		position relative
		top 17px
		sprite $line
		margin-left 8px
		&__knob
			position absolute
			sprite $knob
			top 10px
			left 20%
			margin-left -6px
			transition none
			cursor pointer
		&__label
			position absolute
			font-size 13px
			font-weight 700
			line-height 18px
			max-width 170px
			top 58px
			margin-left -3px
			cursor pointer
			&:before
				content ''
				position absolute
				sprite $devider_short
				top -30px
				left -4px
			&:first-child
				margin-left 4px
				&:before
					sprite $devider_long
					left -6px
			&:last-child
				margin-right -5px
				margin-top 7px
				&:before
					left initial
					top -38px
					right -8px
					sprite $devider_long
				