.header
	clearfix()
	&__logo
		float left
		margin-top 60px
		margin-left 45px
	&__stamp
		float right
		margin-top 48px
		margin-right 54px
	&__text
		margin-top -5px
		margin-left 7px
		font-size 10px
