mixin info-skills(data)
	+b.info-skills&attributes(attributes)
		+e('label').title Практические навыки
		+e.text
			| Отемтьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутсвие опыта отнюдь не означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
		+e.col
			+e.UL.list
				each item in data
					+e.list-item
						+e('input').input(id=item.name type="checkbox" checked=item.checked)
						+e.label(for=item.name)= item.label
		block
